body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation-grocery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-item{
    padding: 6px;
    text-align: center;
    font-size: 14sp;
    color: rgb(0, 0, 0);
    border: 2px solid grey;
    list-style-type: none;
    
}

.navigation-item li{
    display: inline;
    margin-right: 16px;
    
}

header{
    text-align: center;
}

.isi{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.isi1 img{
    max-width: 100%;
    height: 300px;
}

.profil {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 80px;
}

.isi2 {
    padding: 40px;
    background-color: rgb(233, 229, 229);
    background-clip: padding-box;
}

button{
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
    margin: 40px 40px 40px 150px;
    background-color: rgb(30, 17, 54);
    color: white;
}

.daftar li{
    left: auto;
}

.ourPaket{
    background-color: gainsboro;
    padding: 100px;
    margin-top: 100px;
    text-align: center;
}

.our-package{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
}

.circle{
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inquiry-customer{
    display: flex;
    justify-content: space-around;
}

.inquiry-form {
    display: flex;
    flex-direction: column;
}

.closing {
    margin: 60px;
    text-align: center;
}

footer{
    padding: 20px;
    background-color: rgb(233, 229, 229);
    text-align: center;
}